@{
    ViewData["Title"] = "Home Page";
}

<div id="input_field" class="text-center">
    <input type="text" id="urlInput" placeholder="Enter URL" />
    <button id="getImageButton">Получить изображение</button>
    <div>
        <img id="catImage" src="" alt="Cat Status Image" style="display:none;">
    </div>
    <p id="errorText" style="color: red; display: none;">Введите правильную ссылку</p>
</div>